html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
	background-color:#f2f2f2;
    width: 100%;
    min-width: 750px;
    font-family: arial, Helvetica, verdana, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---------- NAVBAR -------------------- */
#Navbar {
    background-color: #FFFFFF;
    height: 125px;
    z-index: 1;
    position: relative;
}
#NavbarGora {
    margin: 0px 10px;
    text-align: center;
}
#NavbarLogo {
    margin-top: 6px;
    margin-right: 300px;
    display: inline-block;
    height: 54px;
    width: 54px;
    background: url("../images/logo.gif") no-repeat;
    background-size: 52px 52px;
    vertical-align: top;
}
#NavbarLogo > a {
    display: block;
    height: 54px;
    width: 54px;
}
#NavbarKalendarz, #NavbarRejestracja, #NavbarZaloguj {
    color: #07698e;
    width: 120px;
    height: 60px;
    display: inline-block;
    background-color: #fff;
    vertical-align: top;
    text-align: center;
}
#NavbarDol{
    height: 65px;
    background-color: #07698e;
    border-top: 1px solid #054862;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(50, 50, 50, 0.45);
    -moz-box-shadow:    0px 4px 0px 0px rgba(50, 50, 50, 0.45);
    display: block;
}
/* ---------- Koniec NAVBAR ------------- */

/* ----------- TRESC -------------------- */
#TrescGlowna {
    height: 400px;
    background-color: #3e8bcc;
    z-index: 0;
    position: relative;
}
#Tresc {
    min-height: 100px;
    background-color: #f2f2f2;
    z-index: 0;
    position: relative;
}
#Tresc > div, #TrescGlowna > div {
    max-width: 1200px;
    padding: 10px 8px;
    margin: 0px auto;
}
/* ---------- KONIEC TREŒCI ------------- */

/* ---------- INFORMACJE ---------------- */
#InformacjeFull{
    background-color: #f2f2f2;
    padding-top: 10px;
    display: block;
}
#InformacjeFull h2 {
    margin-bottom: 6px;
}
#InformacjeFull p {
    font-size: 0.6em;
}
#InformacjeFull > div {
    margin: 0px auto;
    text-align: center;
}
.InformacjePol {
    border-radius: 10px;
    margin: 10px 10px;
    background-color:#e1dede;
    width: 320px;
    min-width: 150px;
    min-height: 250px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
.InformacjePol > div{
    padding: 8px 10px;
    font-size: 1.6em;
}
/* ---------- KONIEC INFORMACJE --------- */

/* ---------- FOOTER -------------------- */
footer > div {
    margin: 4px auto;
    text-align: center;
    padding: 6px 5px;
    border-top: 1px solid #DDDDDD;
    max-width: 1200px;
    font-size: 14px;
}
/* ---------- KONIEC FOOTER ------------- */

.active a{
    color: #ffffff !important;
    background-color: #07698e !important;
}

/* ---------- LINK ---------------------- */
#NavbarKalendarz a, #NavbarRejestracja a, #NavbarZaloguj a,
#NavbarKalendarz a:link, #NavbarRejestracja a:link, #NavbarZaloguj a:link {
    color: #07698e;
    display: block;
    width: 120px;
    height: 50px;
    font-family:'Angsana New';
    font-size: 2em;
    padding-top: 10px;
    text-decoration: none;
}
/* ---------- KONIEC LINK --------------- */

/* ---------- VISITED ------------------- */
#NavbarKalendarz a:visited, #NavbarRejestracja a:visited, #NavbarZaloguj a:visited {
    color: #07698e;
    text-decoration: none;
}
/* ---------- KONIEC VISITED ------------ */

/* ---------- HOVER --------------------- */
#NavbarKalendarz a:hover, #NavbarRejestracja a:hover, #NavbarZaloguj a:hover {
    background-color: #e2e2e2 !important;
    color: #07698e !important;
}
/* ---------- KONIEC HOVER -------------- */

/* ---------- ACTIVCE ------------------- */
#NavbarKalendarz a:active, #NavbarRejestracja a:active, #NavbarZaloguj a:active {
    background-color: #07698e !important;
    color: #ffffff !important;
}
/* ---------- KONIEC ACTIVCE ------------ */

/* ---------- REJESTRACJA/LOGOWANIE------ */
#Rejestracja, #Logowanie {
    margin: 20px 0px;
}
#Rejestracja > div,
#Logowanie > div {
    width: 750px;
    margin: 0px auto;
    text-align: center;
    padding: 20px;
    background: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px 1px #ccc;
    box-shadow: 0 1px 3px 1px #ccc;
}
#Rejestracja .wiersz,
#Logowanie .wiersz {
    text-align: left;
    width: 546px;
    margin: 0px auto
}
#Logowanie .wiersz {
    text-align: right;
}
#Rejestracja .pole,
#Logowanie .pole {
    text-align: left;
    width: 270px;
    display: inline-block;
}
#Rejestracja label,
#Logowanie label {
    width: 250px;
    text-align: left;
    font-size: 16px;
    display: block;
    padding-left: 2px;
    margin-bottom: 6px;
}
#Rejestracja input[type="text"], #Rejestracja input[type="password"],
#Logowanie input[type="text"], #Logowanie input[type="password"] {
    width: 250px;
    height: 24px;
    padding: 8px 6px;
    margin-bottom: 10px;
    font-size: 1em;
    line-height: 1.5em;
    color: #333;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.1);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.1);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
}
#Rejestracja input[type="text"]:focus, #Rejestracja input[type="password"]:focus,
#Logowanie input[type="text"]:focus, #Logowanie input[type="password"]:focus {
    border-color: #029dd3;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
}
#Rejestracja input[type="submit"], #Logowanie input[type="submit"] {
    display: inline-block;
    padding: 4px 20px 4px 20px;
    margin-bottom: 0;
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.5em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333;
    background-color: #f1f1f1;
    background-image: -moz-linear-gradient(top,#e0e0e0,#f1f1f1);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#e0e0e0),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#e0e0e0,#f1f1f1);
    background-image: -o-linear-gradient(top,#e0e0e0,#f1f1f1);
    background-image: linear-gradient(to top,#e0e0e0,#f1f1f1);
    background-repeat: repeat-x;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}
/* ------- KONIEC REJESTRACJA/LOGOWANIE -- */

/* ---------- KLASY --------------------- */
.naglowek {
    font-family: Calibri !important;
    font-size: 28px;
    margin-bottom: 16px;
    text-align: center;
}
.infoMale {
    margin-top: 10px;
    font-size: 12px;
}
.gwiazdka {
    color: red;
}
.blad {
    background-color: #bd5a5a;
    border: 1px solid #691919;
    margin-bottom: 8px !important;
    padding: 10px 16px;
    color: #FFFFFF;
    min-height: 20px;
    text-align: left !important;
}
.blad ul {
    list-style-type: square;
    margin-left: 22px;
    margin-top: 4px;
}
/* ---------- KONIEC KLASY -------------- */