<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <pages clientIDMode="Static" />
    <sessionState timeout="60"  />
    <customErrors mode="Off"/>
  </system.web>
  <connectionStrings>
    <add name="MySQLConnStrLocal" connectionString="Server=localhost;Database=przychodnia;Uid=root;Pwd=password;" />
    <add name="MySQLConnStr" connectionString="Server=mysql8.hekko.net.pl;Database=eddy_k0bra;Uid=eddy_k0bra;Pwd=k0berka;" />
  </connectionStrings>
</configuration>